# Movil
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos/*.iml
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos.gradle
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos/local.properties
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos/.idea/libraries
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos/.idea/modules.xml
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos/.idea/workspace.xml
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos/.DS_Store
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos/build
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos/captures
/Desarrollo/STSM/Desarrollo/FrontEnd/TaxiSanMarcos/.externalNativeBuild

# BackEnd